<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for KSPModelLessModlets" Description="Code analysis rules for KSPModelLessModlets.csproj." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1717" Action="Error" />
    <Rule Id="CS1718" Action="Error" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1000" Action="Error" />
    <Rule Id="SA1636" Action="Hidden" />
  </Rules>
</RuleSet>